.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    font-size: 33px;
    border: 2px solid black;
    border-radius: 13px;
}
button{
    font-size: 23px;
    background-color: aqua;
    border-radius: 13px;
    width: 100px;
    height: 45px;
}
.calculator{
    display: inline-block;
    border: 2px solid red;
    background-color: salmon;
}